header {
  height: 411px;
  width: 1228px;
  margin: 78px auto 40px;
  background: url('src/assets/img/banner.png') center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header h1,
p {
  color: white;
  margin-bottom: 16px;
}
header h1 {
  font-size: 3em;
}

.bt_create_order {
  background-color: #fe6575;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 60px;
  border: 1px solid #fe6575;
}
.bt_create_order a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}
.bt_create_order:hover {
  border: 1px solid #fe6575;
  transition: 0.2s;
  cursor: pointer;
}

.alike-cat-bt {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px 10px 24px;
  gap: 24px;

  width: 239px;
  height: 45px;
  left: 1061px;
  top: 1267px;

  border: none;
  background-color: transparent;
  color: #333;
}
.alike-cat-bt:hover {
  background: #050038;
  color: white;
}

.popular-category {
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.workers {
  flex: 1;
  width: 70%;
  margin-top: 20px;
}

.more-info {
  flex: 1;
  width: 25%;
  margin-left: 5%;
  padding: 20px;
  border-left: 1px solid #ccc;
}

.costs-baner {
  width: 864px;
  height: 299px;
  left: 116px;
  top: 641px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: #ffffff;
  border-radius: 146px;
}
.costs-baner h2 {
  font-size: 3em;
}

/* Медиазапрос для планшетов */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .workers {
    width: 100%;
  }
  .more-info {
    width: 100%;
  }
}

/* Медиазапрос для мобильных устройств */
@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }
}
