<div class="container">
  <div class="baner" style="justify-content: center">
    <header>
      <h1>{{ banner_name }}</h1>
      <p>Легко й швидко!</p>
      <button class="bt_create_order">Замовити зараз</button>
    </header>
    <mat-divider></mat-divider>
  </div>
  <div class="workers">
    <div class="costs-baner">
      <h2>Вартість робіт</h2>
      <ul>
        <li>Робота 150грн</li>
      </ul>
    </div>
    <app-worker-preview></app-worker-preview>
  </div>
  <div class="more-info">
    <div class="alike-category">
      <h3>Категорії</h3>
      <button class="alike-cat-bt">Всі категорії</button>
      <button class="alike-cat-bt">Фріланс</button>
      <button class="alike-cat-bt">2D графіка</button>
      <button class="alike-cat-bt">3D графіка</button>
      <button class="alike-cat-bt">Анімація</button>
    </div>
    <mat-divider></mat-divider>
    <div class="popular-category">
      <h3>Також шукають</h3>
      <button class="popular-category-bt">3D анімація</button>
      <button class="popular-category-bt">3D анімація</button>
      <button class="popular-category-bt">3D анімація</button>
      <button class="popular-category-bt">3D анімація</button>
      <button class="popular-category-bt">3D анімація</button>
    </div>
  </div>
</div>
