<div class="container">
    <div class="home-content" style="justify-content: center">
      <header>
        <h1>Онлайн-сервіс замовлення послуг</h1>
        <p>Більше 100 000 перевірених фахівців для виконання ваших побутових або бізнес-завдань</p>
        <figure style="justify-content: center; align-items: center; display: flex; width: 80%">
          <input type="search" placeholder="Що треба зробити?" [(ngModel)]="searchTerm">
          <input type="submit" value="Знайти фахівця" (click)="onSearch()"/>
        </figure>
      </header>
        <div class="button-container">
          <div class="button-row">
            <button class="btn" (click)="selectCategory('Дім')">
              <img src="/assets/img/home-g.svg" alt="ico">
              <span>Дім</span>
            </button>
            <button class="btn" (click)="selectCategory('Доставка')">
              <img src="/assets/img/deliv-g.svg" alt="ico">
              <span>Доставка</span>
            </button>
            <button class="btn" (click)="selectCategory('Фріланс')">
              <img src="/assets/img/web-g.svg" alt="ico">
              <span>Фріланс</span>
            </button>
            <button class="btn" (click)="selectCategory('Викладачі')">
              <img src="/assets/img/school-g.svg" alt="ico">
              <span>Викладачі</span>
            </button>
            <button class="btn" (click)="selectCategory('Бізнес')">
              <img src="/assets/img/bisnes.svg" alt="ico">
              <span>Бізнес</span>
            </button>
            <button class="btn" (click)="selectCategory('Категорії')">
              <img src="/assets/img/category-g.svg" alt="ico">
              <span>Категорії</span>
            </button>
          </div>
        </div>
      <div *ngIf="selectedCategory !== 'Категорії'">
        <div class="row">
          <div class="col-sm-4" *ngFor="let child of filteredChildren" style="padding-left: 50px">
            <app-card [title]="child.title" [avatar]="'https://busybee.space' + child.iconFilename" [id]="child.id" [children]="child.children"></app-card>
          </div>
        </div>
      </div>
      <div *ngIf="selectedCategory === 'Категорії'">
        <div class="row">
          <div class="col-sm-4" *ngFor="let child of mergedChildren" style="padding-left: 50px">
            <app-card [title]="child.title" [avatar]="'https://busybee.space' + child.iconFilename" [id]="child.id" [children]="child.children"></app-card>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 5%">
        <h2 class="text-center" style="margin-top: 2%; font-size: 35px">Не знайшли потрібну послугу? Використовуйте пошук!</h2>
        <figure style="justify-content: center; align-items: center; display: flex">
          <input type="search"  style="width: 35%" placeholder="Яку роботу вам потрібно виконати?">
          <input type="submit"  value="Одеса" (click)="onSearch()">
        </figure>
        <!--
        <div style="display: flex" class="justify-content-md-center">
          <mat-form-field style="width: 80%">
            <mat-label>Яку роботу вам потрібно виконати?</mat-label>
            <input matInput placeholder="" value="Work">
          </mat-form-field>
          <div ngbDropdown class="d-inline-block">
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <mat-select>
                <mat-option *ngFor="let city of cities" [value]="city.value">
                  {{city.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-button style="height: 58px; width: 40px">Search</button>
        </div>
        -->
      </div>
      <div style="margin-top: 2%">
        <p class="text-center" style="font-size: 30px; color: black">Як працює Busy-Bee.ua</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="/assets/img/LogoBusyBee27.png" style="width: 40%" alt="ico">
            <p style="color: black; margin-top: 20px; font-weight: bold">Створіть замовлення</p>
            <button class="btn btn-outline-primary" style="max-width: 150px; font-size: 12px; font-weight: unset">Опишіть, що і коли
              потрібно зробити</button>
          </div>
          <div class="col-arr" style="width: 50px; justify-content: center; align-items: center; display: flex">
            <img src="assets/img/arrow.image-hKOWc.svg" style="position: relative; top: -45px" alt="ico">
          </div>
          <div class="col">
            <img src="/assets/img/LogoBusyBee28.png" style="width: 40%" class="img-fluid" alt="ico">
            <p style="color: black;  margin-top: 20px; font-weight: bold">Виберіть фахівця</p>
            <button class="btn btn-outline-primary" style="max-width: 200px; font-size: 12px; font-weight: unset">Виберіть компетентного фахівця
              для виконання роботи</button>
          </div>
          <div class="col-arr" style="width: 50px; justify-content: center; align-items: center; display: flex">
            <img src="assets/img/arrow.image-hKOWc.svg" style="position: relative; top: -45px" alt="ico">
          </div>
          <div class="col">
            <img src="/assets/img/LogoBusyBee29.png" style="width: 40%" class="img-fluid" alt="ico">
            <p style="color: black;  margin-top: 20px; font-weight: bold">Закрийте замовлення</p>
            <button class="btn btn-outline-primary" style="max-width: 170px; font-size: 12px; font-weight: unset">Залиште відгук та оцінку
              за виконану роботу</button>
          </div>
        </div>
      </div>
      <p class="text-center" style="margin-top: 2%; font-size: 17px; color: black"><a href="" style="color: #FEB201">Створіть замовлення</a> прямо зараз та знайдіть фахівця за лічені хвилини!</p>
      <!--
      <div style="margin-top: 2%">
        <p class="text-center" style="font-size: 30px">Як працює Busy-Bee.ua</p>
        <div class="text-center">
          <button mat-button class="mt-4 mb-4 me-xl-5">Создайте заказ</button>
          <button mat-button class="mt-4 mb-4 me-xl-5">Выберите специалиста</button>
          <button mat-button class="mt-4 mb-4 me-xl-5">Закройте заказ</button>
        </div>
        <div class="text-center">
        <span class="mt-4 mb-4 me-xl-5">Опишите, что и когда
          нужно сделать</span>
          <span class="mt-4 mb-4 me-xl-5">Выберите компетентного специалиста
          для выполнения работы</span>
          <span class="mt-4 mb-4 me-xl-5">Оставьте отзыв и оценку за проделанную работу</span>
        </div>
        <p class="text-center" style="margin-top: 2%">Создайте заказ прямо сейчас и найдите специалиста за считанные минуты!</p>
      </div>
      -->
      <div class="banner">
        <h3>Маеш особливі потреби?</h3>
        <p>Разом нас не зупинити. Ми з Україною</p>
        <button class="bt_style"> Знайти фахівця </button>
      </div>
      <!-- <div style="margin-top: 2%">
        <p class="text-center">География Busy Bee</p>
        <mat-list role="list">
          <mat-list-item role="listitem">Odessa</mat-list-item>
        </mat-list>
      </div> -->
      <div style="margin-top: 2%">
        <p class="text-center" style="font-size: 20px; color: black">
          Шукайте перевірених фахівців або вигідні замовлення

        </p>
        <p class="text-center" style="font-size: 20px; color: black">
          за допомогою сервісу Busy-Bee.ua
        </p>
        <div class="text-center" style="margin-bottom: 8%">
          <button class="bt_style" style="background-color: #455A9F; border-color: #455A9F"> Знайти фахівця </button>
          <button class="bt_style" style="background-color: transparent; color: #455A9F; border-color: #455A9F"> Стати фахівцем </button>
        </div>
      </div>
      <div class="comments">
        <img src="assets/img/face_2.png" alt="face">
        <h3>Відгуки від користувачів нашої платформи</h3>
        <img src="assets/img/face_2.png" alt="face">
      </div>
      <div class="carousel" style="padding-left: 2em">
        <div class="row" style="margin-bottom: 10%; margin-right: 20px">
          <div class="col-md-4">
            <div class="comments-box">
              <div class="rectangle">
                <div class="top-section">
                  <img src="assets/img/Rectangle192.png" style="margin-top: 11%" alt="little_square">
                  <img src="assets/img/Rectangle193.png" style="margin-top: -23%; margin-left: 20px" alt="medium_square">
                  <img src="assets/img/Rectangle63.png" style="margin-top: -4%; margin-left: 50px" alt="big_square">
                  <div class="circle">
                    <img src="/assets/img/LogoBusyBee27.png" alt="Circle Image">
                  </div>
                </div>
                <div class="bottom-section">
                  <div class="text">
                    <div class="image-top">
                      <img src="assets/img/kav.png" alt="coma">
                    </div>
                    Фильтрация и поиск: Функции фильтрации и поиска на сайте являються  эффективными и точными.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="comments-box">
              <div class="rectangle">
                <div class="top-section">
                  <img src="assets/img/Rectangle192.png" style="margin-top: 11%" alt="little_square">
                  <img src="assets/img/Rectangle193.png" style="margin-top: -23%; margin-left: 20px" alt="medium_square">
                  <img src="assets/img/Rectangle63.png" style="margin-top: -4%; margin-left: 50px" alt="big_square">
                  <div class="circle">
                    <img src="/assets/img/LogoBusyBee27.png" alt="Circle Image">
                  </div>
                </div>
                <div class="bottom-section">
                  <div class="text">
                    <div class="image-top">
                      <img src="assets/img/kav.png" alt="coma">
                    </div>
                    Фильтрация и поиск: Функции фильтрации и поиска на сайте являються  эффективными и точными.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="comments-box">
              <div class="rectangle">
                <div class="top-section">
                  <img src="assets/img/Rectangle192.png" style="margin-top: 11%" alt="little_square">
                  <img src="assets/img/Rectangle193.png" style="margin-top: -23%; margin-left: 20px" alt="medium_square">
                  <img src="assets/img/Rectangle63.png" style="margin-top: -4%; margin-left: 50px" alt="big_square">
                  <div class="circle">
                    <img src="/assets/img/LogoBusyBee27.png" alt="Circle Image">
                  </div>
                </div>
                <div class="bottom-section">
                  <div class="text">
                    <div class="image-top">
                      <img src="assets/img/kav.png" alt="coma">
                    </div>
                    Фильтрация и поиск: Функции фильтрации и поиска на сайте являються  эффективными и точными.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--------------------------------->
    </div>
</div>
