<footer class="footer">
  <div class="contact-bar">
    <div class="container" style="padding: 0 55px 0 55px">
      <div class="contact-info">
        <div class="logo-slogan">
          <img src="assets/img/Logo Busy Bee foot.png" alt="logo_footer" />
          <div class="slogan">Маленька праця для великих людей!</div>
        </div>
        <div class="social-links">
          <p>follow us</p>
          <a href="#"><img src="assets/img/SocGoogle.png" alt="GoogleIco" /></a>
          <a href="#"
            ><img src="assets/img/SocFacebook.png" alt="FacebookIco"
          /></a>
          <a href="#"
            ><img src="assets/img/SocTwitter.png" alt="TwitterIco"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <img
          src="assets/img/Footer Logo Busy Bee.png"
          style="width: fit-content"
          alt="Logo"
        />
      </div>
      <div class="footer-content-inner">
        <div class="row">
          <div class="footer-col">
            <h4>Інформація про компанію</h4>
            <ul>
              <li><a href="#">Про нас</a></li>
              <li><a href="#">Умови використання сайту</a></li>
              <li><a href="#">Вакансії</a></li>
              <li><a href="#">Контакти</a></li>
              <li><a href="#">Усі категорії</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Сервіси</h4>
            <ul>
              <li><a href="#">Бонусний рахунок</a></li>
              <li><a href="#">Rozetka Premium</a></li>
              <li><a href="#">Подарункові сертифікати</a></li>
              <li><a href="#">Rozetka Обмін</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Допомога</h4>
            <ul>
              <li><a href="#">Доставка та оплата</a></li>
              <li><a href="#">Кредит</a></li>
              <li><a href="#">Гарантія</a></li>
              <li><a href="#">Повернення товару</a></li>
              <li><a href="#">Сервісні центри</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Партнерам</h4>
            <ul>
              <li><a href="#">Продавати на Розетці</a></li>
              <li><a href="#">Співпраця з нами</a></li>
              <li><a href="#">Франчайзинг</a></li>
              <li><a href="#">Оренда приміщень</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Copyright © 2023</p>
      </div>
      <div class="col-sm-6">
        <ul class="list-inline text-right">
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Условия использования</a></li>
          <li><a href="#">Busy Bee</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
-->
