<div class="container">
  <div class="baner" style="justify-content: center">
    <header>
      <h2>{{title}}</h2>
      <h1>{{banner_name}}</h1>
      <p>Легко й швидко!</p>
      <button class="bt_create_order" (click)='createOrder()'>Замовити зараз</button>
    </header>
    <mat-divider></mat-divider>
  </div>
  <div class="workers">
    <div class="costs-banner">
      <h2 class="banner-title">Вартість робіт</h2>
      <div class="flex-container">
        <div class="column">
          <ul>
            <li>Робота 150грн</li>
            <li>Робота 300грн</li>
            <li>Робота 4500грн</li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li>Робота 150грн</li>
            <li>Робота 300грн</li>
            <li>Робота 4500грн</li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li>Робота 150грн</li>
            <li>Робота 300грн</li>
            <li>Робота 4500грн</li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngFor='let task of tasks'>
      <app-task-preview [title]='task.title' [payment]="task.cost"
                        [addInfo]='[task.date]' [id]='task.createdBy'
                        [taskId]='task.id' [dataloaded]='task.dataloaded' [status]='task.status'
      />
    </div>
  </div>
  <div class="more-info">
    <div class="alike-category">
      <h3>Категорії</h3>
      <button class="alike-cat-bt">Всі категорії</button>
      <button class="alike-cat-bt">Фріланс</button>
      <button class="alike-cat-bt">2D графіка</button>
      <button class="alike-cat-bt">3D графіка</button>
      <button class="alike-cat-bt">Анімація</button>
    </div>
    <mat-divider></mat-divider>
    <div class="same-category-childs">
      <h3>Також шукають</h3>
      <button class="bt_style">3D анімація</button>
      <button class="bt_style">2D графіка</button>
      <button class="bt_style">Анімація</button>
      <button class="bt_style">Фріланс</button>
      <button class="bt_style">3D анімація</button>
    </div>
    <mat-divider></mat-divider>
    <div class='popular-category'>
      <h3>Популярні запити</h3>
      <button class="bt_style">Оформлення стриму </button>
      <button class="bt_style">Логотип</button>
      <button class="bt_style">Татту</button>
    </div>
  </div>
</div>
